/* :host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;

}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.register-link {
  text-decoration: underline;
  color: steelblue;
}

.heading{
  font-size: 34px;
}

button,input {
  font-size: 18px;
} */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  /* background-image: url('src\assets\loginpage-background-imagev2.jpeg'); */
  background-image: linear-gradient(145deg, #a8eef7, #bce1e6, #ffffff);
  background-size: cover;
  background-position: center;
}

.login-card {
  /* max-width: 400px; */
  width: 20%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  color: #333;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-group {
  margin-bottom: 10px;
  padding-right: 8px;
}

label {
  display: block;
  color: #333;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.reg-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  /* line-height: normal; */
  margin: 0;
  height: 55px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  will-change: transform;
}

.reg-button:disabled {
  pointer-events: none;
}

.reg-button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.reg-button:active {
  box-shadow: none;
  transform: translateY(0);
}
.register-link {
  text-decoration: underline;
  color: steelblue;
}

.main-heading-card {
  text-align: center;
}

.main-heading {
  font-size: 44px;
  color: #6f7069;
}